
body{
    background-color:  #111;;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1) brightness(2);
}
:root {
  --primary: #ff1e1e;
  --secondary: #0f0f0f;
  --bg: #000000;
  --text: #ffffff;
  --soft-text: #b3b3b3;
  --glass: rgba(255, 255, 255, 0.05);
}